name: Tmpmail smtp server CI config

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"] 

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set IMAGE_NAME lowercase
        run: echo "IMAGE_NAME=$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha,format=short
      
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:cache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:cache,mode=max
  
  gitops-pr:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: HQhalo/tmpmail-deployment
          token: ${{ secrets.GITOPS_PAT }}
          path: tmpmail-deployment

      - name: Update deployment manifest with new image tag
        run: |
          IMAGE="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-and-push-image.outputs.image_tag }}"
          echo "Updating image:$IMAGE_TAG"
          yq e -i ".images[0].newTag = \"${{ needs.build-and-push-image.outputs.image_tag }}\"" tmpmail-deployment/tmpmail-smtp-server/dev/kustomization.yaml
          cat tmpmail-deployment/tmpmail-smtp-server/dev/kustomization.yaml
      # - name: Create Pull Request to GitOps repo
      #   uses: peter-evans/create-pull-request@v6
      #   with:
      #     token: ${{ secrets.GITOPS_PAT }}
      #     path: gitops
      #     commit-message: "Update tmpmail smtp image to ${{ needs.build-and-push-image.outputs.image_tag }}"
      #     title: "Update tmpmail smtp image to ${{ needs.build-and-push-image.outputs.image_tag }}"
      #     body: |
      #       Auto-generated PR to update tmpmail smtp deployment.
      #       New image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build-and-push-image.outputs.image_tag }}
      #     branch: update-tmpmail-${{ needs.build-and-push-image.outputs.image_tag }}
      #     base: main
